
# executables
main
sensor_setup
build/

# config files
# TODO: figure out a better tracking solution for config.json
sensor.json

__pycache__/
.DS_Store

# CodeQL analysis artifact
_codeql_detected_source_root
